<h1>Bienvenue sur la videotheque ! </h1>


<h2> 
    <% if user_signed_in? %>

        <%= link_to 'Se deconnecter', destroy_user_session_path, method: :delete %>

    <% else %>

        <%= link_to 'Se connecter', new_user_session_path %> 
        
    <% end %>
</h2>