<div class="container">
	<div class="alert alert-success" role="alert">
		<p id="notice"><%= notice %></p>
	</div>

	<h1> Edit </h1>

	<%= render 'form', film: @film %>

	<%= link_to("Liste de films", films_path) %>
</div>