<section class="page-section">

  <div class="container" style="background-color:#38B324; border:black;border-radius:30px; padding:3%; margin-top:-3%; margin-bottom:-3%; color:white;">
    <!-- Contact Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Modifier le Film</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
<div class="col-lg-6 col-md-6 mx-auto">


	<%= render 'form', film: @film %>

	<%= link_to "Liste de films", films_path, class: "btn btn-l text-white", style:"border-color:white; background-color:green;" %>
</div>
</section>